[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.32.3"
python-telegram-bot = "==21.7"
geopy = "==2.4.1"
python-dateutil = "==2.9.0.post0"
python-decouple = "==3.8"
scipy = "==1.14.1"

[dev-packages]

[requires]
python_version = "3.13"
